{% extends 'base.html' %}
{% block title %} Your-short-names {% endblock %}
{% block main %}
{% if codes %}
<div class="list-group" style="margin-left: 50px; margin-right: 50px;">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
      Your Short Names:
    </a>
    {% for code in codes %}
    <a href="{{ url_for('redirect_to_url',code=code)}}" class="list-group-item list-group-item-action">-> {{code}}</a>
    {% endfor %}
</div>
{% else %}
<div class="list-group" style="margin-left: 50px; margin-right: 50px;">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
      Sorry! You have not created any Short links with us.
    </a>
</div>
{% endif %}
{% endblock %}